<% if signed_in? %>
<div class="container">
<div class="row">
  <aside class="span4">
    <selection>
      <%= render 'shared/user_info' %>
    </selection>
    <selection>
      <%= render 'shared/micropost_form' %>
    </selection>
  </aside>
 <div class="row">
    <div class="span8">
     <h3> Your Feed </h3>   
     <%= render 'shared/feed' %>
    </div>
 </div>
</div>

<% else %>
  <div class="jumbotron center">
  	<h1>Welcome to UX Angels</h1>
  	<h2>This is the home page for
  		<a href="http://www.uxangels.org/">
  			UX Angels
  		</a>
  	</h2>
   <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary btn-white" %>
  </div>
<% end %>

<div class="container">

<div class="marketing">

    <h1>What the hell is this?</h1>
    <p class="marketing-byline">
    	<%=	Faker::Lorem.paragraph(sentence_count = 2) %>
    </p>

    <div class="row-fluid">
      <div class="span4">
        <h2>By nerds, for nerds.</h2>
        <p><%=	Faker::Lorem.paragraph(sentence_count = 3) %></p>
      </div>
      <div class="span4">
        <h2>Made for everyone.</h2>
        <p><%=	Faker::Lorem.paragraph(sentence_count = 3) %></p>
      </div>
      <div class="span4">
        <h2>Packed with features.</h2>
        <p><%=	Faker::Lorem.paragraph(sentence_count = 3) %></p>
      </div>
    </div>
</div>
</div>
<!-- <p>
 https://www.car2go.com/api/v2.1/vehicles?oauth_consumer_key=Car2Square&format=json&loc=seattle

	47.62516, -122.30114
	47.62870, -122.30689 </p> -->