<% provide(:title, @user.name) %>

<div class="row">
	<aside class="span4">
		<section>			
			<h1>
				<%= gravatar_for @user %>
				<%= @user.name %>
			</h1>
			<p>Email: <%= @user.email %></p>
			<p>
				<!--Edit User -->
				<% if is_self %>
					<%= link_to 'Edit', edit_user_path(current_user) %>
				<% end %>
			</p>
			<p>
			<%=	Faker::Lorem.paragraph(sentence_count = 5) %>
			</p>
		</section>
	</aside>
</div>